background-image {
  min-width: 102vw;
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2014/03/10/293794/38137131ec26e97d18117a541d58e42e.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 102vh;
  z-index: -99;
  top: -5px;
  left: -5px;
  position: absolute;
}

body {
  overflow: hidden;
}
header {
  text-align: center;
}
button {
  margin: 0 auto;
  display: block;
  padding: 10px;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
}
description {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
}
p {
  text-align: center;
}


