body {
  overflow: hidden;
}
.header {
  text-align: center;
}
.button {
  margin: 0 auto;
  display: block;
  padding: 10px;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
}
.description {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
}
p {
  text-align: center;
}
.ctext {
  word-wrap: break-word;
  width: 600px;
}
#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 1000px;
}
.center {margin:0 auto;}
