body {
  overflow-x: hidden;
}
.header {
  text-align: center;
}
.button {
  margin: 0 auto;
  display: block;
  padding: 10px;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
}
p {
  text-align: center;
}
h1 {
  text-align: center;
}
.ctext {
  word-wrap: break-word;
  width: 600px;
  text-align: center;
}
#rcorners1 {
  border-radius: 25px;
  background: #dbdbdb;
  padding: 20px;
  width: 1000px;
  border: 2px solid black;
}
.center {margin:0 auto;}
